/* Give your page a fun background color */

/* Changes background to blue with white text throughout page. */
body {background-color: #0f4c5c; color: white; margin: 0 auto;}

/* Header rules: red background, border and radius, new font size and family, margin, padding, text-align centered. */
header h1 {
    background-color: red;
    width: 40%;
    margin: 20px auto; 
    padding: 20px 10px; 
    border: 8px solid black; 
    border-radius: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center; 
    
}
/* End of header rules */

/* Image rules: Centered in page, border and border radius, block element */
div img {
    display: block; width: 20%;
    margin: 10px auto; 
    border: 5px solid black; 
    border-radius: 3%;
}
/* End of image rules */

/* List rules: Increase of size list items, added padding, new font-style and square list style*/
ul li {
    width:50%; 
    margin: 10px auto;
    padding: 2px;font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.5rem; 
    list-style: square;

}
/* End of list rules */

footer p {
    color: wheat; 
    width: 50%;
    margin: 10px auto;
    padding: 1rem;
    border: 3px solid ;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}





/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */